<div class="content">
    <h2 style="color: maroon; margin-left: 200px;">Liste des encaissements</h2>
  
    <mat-form-field class="search-field">
      <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher" style="font-weight: bold;">
      <button matSuffix mat-icon-button aria-label="Rechercher">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button class="btnAdd" mat-raised-button color="primary" (click)="openCreateEncaissmentDialog()">Alimenter</button>

  
    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="ref">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Réferance </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ref}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="matricule">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.matricule}} </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom et prénom </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fullname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cin">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CIN </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cin}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="motif">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Motif </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.motif}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="somme">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Somme </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.somme}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Operations </mat-header-cell>
          <mat-cell *matCellDef="let row"> 
            <button (click)="openUpdateEncDialog(row)" class="updateRow"  mat-icon-button ><mat-icon>supervised_user_circle</mat-icon></button>
            <button (click)="deleteEncaissment(row)" class="deleteRow"  mat-icon-button ><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
    </div>
  </div>
  