<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="dashbordpage">
  <div class="header" *ngIf="this.loginService.isUserLoggedIn() && !this.loginService.isCurrentPage()">
    <app-header></app-header>
  </div>

  <div class="container" *ngIf="this.loginService.isUserLoggedIn() && !this.loginService.isCurrentPage()">
    <div class="sidebar">


      <ul class="menu">
        <li>
          <img [src]="'assets/img/admin.png'" alt="Card image" height="120px" width="120px"
            style="margin-left: 55px; margin-top: 20px;">
          <p style="margin-left: 30px; margin-bottom: 60px;">{{email}}</p>
        </li>
        <li [routerLink]="['/dashborduser']"><i class="fas fa-tachometer-alt"></i> <b> Bord</b></li>
        <!-- <li *ngIf="this.loginService.isAdmin()" [routerLink]="['/listprofessor']"><i class="fas fa-user"></i> Gestion des formateurs</li> -->
        <li (click)="toggleSubmenu('user')" *ngIf="this.loginService.isAdmin()">
          <i class="fas fa-user"></i> <b>Gestion des utilisateurs</b>
          <ul *ngIf="showSubmenu.user" class="submenu">
            <!-- Add sub-item icon here -->
            <li [routerLink]="['/listuser']"><i class="fas fa-user"></i> Liste des utilisateurs</li>
          </ul>
        </li>


        <li (click)="toggleSubmenu('bank')" class="has-submenu">
          <!-- Change the icon to represent whether it's opened or closed -->
          <i class="fas" [ngClass]="{'fa-angle-up': !showSubmenu.bank, 'fa-times': showSubmenu.bank}"></i> <b> Mise à jour</b>
          <ul *ngIf="showSubmenu.bank" class="submenu">
            <li [routerLink]="['/listbank']"><i class="fas fa-list"></i> Banques</li>
            <li [routerLink]="['/list-trsanscation']"><i class="fas fa-list"></i> Transactions</li>
          </ul>
        </li>



        <li (click)="toggleSubmenuEnc('enc')" class="has-submenu">
          <!-- Change the icon to represent whether it's opened or closed -->
          <i class="fas" [ngClass]="{'fa-angle-up': !showSubmenuEnc.enc, 'fa-times': showSubmenuEnc.enc}"></i>
         <b> Opérations </b>
          <ul *ngIf="showSubmenuEnc.enc" class="submenu">
            <li [routerLink]="['/list-encaissment']"><i class="fas fa-money-check"></i> Encaissement</li>
            <li [routerLink]="['/list-decaissment']"><i class="fas fa-money-bill-wave"></i> Décaissement</li>
          </ul>
        </li>


        <li [routerLink]="['/updateuserprofile']"><i class="fas fa-user"></i> <b> Modifier profil </b> </li>
        <li (click)="logout()"><i class="fas fa-sign-out-alt"></i> <b> Se déconnecter </b></li>
      </ul>


    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>


  <div class="footer" *ngIf="this.loginService.isUserLoggedIn() && !this.loginService.isCurrentPage()">
    <app-footer></app-footer>
  </div>

</div>